/* line 3, sass/utilities/_utility.scss */
.subtitle {
  color: #ff6600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 28px; }

/* line 13, sass/utilities/_utility.scss */
.hash-links {
  position: absolute;
  top: -72px; }
  @media only screen and (min-width: 1000px) {
    /* line 13, sass/utilities/_utility.scss */
    .hash-links {
      top: -87px; } }

/* line 22, sass/utilities/_utility.scss */
.footer-hash {
  position: absolute;
  top: -80px; }
  @media only screen and (min-width: 1000px) {
    /* line 22, sass/utilities/_utility.scss */
    .footer-hash {
      top: -95px; } }

/* line 1, sass/base/_typography.scss */
body {
  font-family: "Work Sans", serif; }

/* line 5, sass/base/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Work Sans", serif;
  font-weight: 700; }

/* line 10, sass/base/_typography.scss */
h1 {
  font-size: clamp(36px, 9vw, 80px);
  line-height: 1.085; }

/* line 15, sass/base/_typography.scss */
h2 {
  font-size: clamp(31px, 5vw, 40px);
  line-height: 1.3; }

/* line 20, sass/base/_typography.scss */
h3 {
  font-size: clamp(21px, 5vw, 30px);
  line-height: 1.3; }

/* line 25, sass/base/_typography.scss */
h4 {
  font-size: clamp(20px, 3.5vw, 24px);
  font-weight: 600; }

/* line 30, sass/base/_typography.scss */
p {
  color: #525252;
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: clamp(16px, 2.5vw, 19px);
  line-height: clamp(22px, 3.5vw, 29px); }

/* line 38, sass/base/_typography.scss */
b {
  color: #101010; }

/* line 42, sass/base/_typography.scss */
b.white {
  color: #fff; }

@font-face {
  font-family: 'Work Sans';
  src: url("/font/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans';
  src: url("/font/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans';
  src: url("/font/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/* line 1, sass/base/_reset.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* line 7, sass/base/_reset.scss */
*,
*::before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none; }

/* line 19, sass/base/_reset.scss */
button {
  border: none;
  background: none; }

/* line 24, sass/base/_reset.scss */
img {
  max-width: 100%; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes animateInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

@keyframes fadeInLeftServices {
  0% {
    opacity: 0;
    transform: translateX(-45%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

/* line 1, sass/components/_hero-slider.scss */
#hero-slider {
  position: relative;
  overflow: hidden;
  height: 100vh; }

/* line 7, sass/components/_hero-slider.scss */
#hero-slider::before {
  display: none; }
  @media only screen and (min-width: 1200px) {
    /* line 7, sass/components/_hero-slider.scss */
    #hero-slider::before {
      display: initial;
      content: "";
      position: absolute;
      top: 0;
      left: 20%;
      bottom: 0;
      width: 20%;
      border-left: solid rgba(255, 255, 255, 0.25) 1px;
      border-right: solid rgba(255, 255, 255, 0.25) 1px;
      z-index: 999; } }

/* line 24, sass/components/_hero-slider.scss */
#hero-slider::after {
  display: none; }
  @media only screen and (min-width: 1200px) {
    /* line 24, sass/components/_hero-slider.scss */
    #hero-slider::after {
      display: initial;
      content: "";
      position: absolute;
      top: 0;
      right: 20%;
      bottom: 0;
      width: 20%;
      border-left: solid rgba(255, 255, 255, 0.25) 1px;
      border-right: solid rgba(255, 255, 255, 0.25) 1px;
      z-index: 999; } }

/* line 41, sass/components/_hero-slider.scss */
.hero-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 700;
  height: 100vh; }

/* line 51, sass/components/_hero-slider.scss */
.hero-slide > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none; }

/* line 62, sass/components/_hero-slider.scss */
.hero-slide-1 {
  background: url(/imgs/hero/1-mobile.jpg);
  background-position: 82% 0; }
  @media only screen and (min-width: 720px) {
    /* line 62, sass/components/_hero-slider.scss */
    .hero-slide-1 {
      background: url(/imgs/hero/1-tablet.jpg);
      background-position: 92% 0; } }
  @media only screen and (min-width: 1000px) {
    /* line 62, sass/components/_hero-slider.scss */
    .hero-slide-1 {
      background: url(/imgs/hero/1.jpg);
      background-position: 70% 0; } }

/* line 77, sass/components/_hero-slider.scss */
.hero-slide-2 {
  background: url(/imgs/hero/2-mobile.jpg);
  background-position: 41% 0; }
  @media only screen and (min-width: 720px) {
    /* line 77, sass/components/_hero-slider.scss */
    .hero-slide-2 {
      background: url(/imgs/hero/2.jpg);
      background-position: 92% 0; } }
  @media only screen and (min-width: 1000px) {
    /* line 77, sass/components/_hero-slider.scss */
    .hero-slide-2 {
      background-position: 70% 0; } }
  @media only screen and (min-width: 1200px) {
    /* line 77, sass/components/_hero-slider.scss */
    .hero-slide-2 {
      background-position: 100% 69%; } }

/* line 95, sass/components/_hero-slider.scss */
.hero-slide-3 {
  background: url(/imgs/hero/3-mobile.jpg);
  background-position: 0 0; }
  @media only screen and (min-width: 720px) {
    /* line 95, sass/components/_hero-slider.scss */
    .hero-slide-3 {
      background: url(/imgs/hero/3-tablet.jpg);
      background-position: 92% 0; } }
  @media only screen and (min-width: 1000px) {
    /* line 95, sass/components/_hero-slider.scss */
    .hero-slide-3 {
      background: url(/imgs/hero/3.jpg);
      background-position: 70% 0; } }
  @media only screen and (min-width: 1200px) {
    /* line 95, sass/components/_hero-slider.scss */
    .hero-slide-3 {
      background-position: 0 67%; } }

/* line 114, sass/components/_hero-slider.scss */
.active {
  z-index: 998; }

/* line 118, sass/components/_hero-slider.scss */
.slideInLeft {
  animation-name: animateInLeft;
  z-index: 998; }

/* line 123, sass/components/_hero-slider.scss */
.slideInRight {
  animation-name: animateInRight;
  z-index: 998; }

/* line 128, sass/components/_hero-slider.scss */
.slideOutLeft {
  transform: translateX(-100%); }

/* line 132, sass/components/_hero-slider.scss */
.slideOutRight {
  transform: translateX(100%); }

/* line 136, sass/components/_hero-slider.scss */
.hero-dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 57px;
  left: 49.9%;
  transform: translateX(-50%);
  width: 110px;
  z-index: 999; }

/* line 147, sass/components/_hero-slider.scss */
.dot {
  width: 32px;
  height: 3px;
  background: #fff;
  opacity: .5; }

/* line 154, sass/components/_hero-slider.scss */
.hero-buttons {
  position: absolute;
  display: flex;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
  font-weight: 600; }

/* line 164, sass/components/_hero-slider.scss */
.hero-slider-back-btn,
.hero-slider-next-btn,
.hero-slider-splitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  opacity: .7;
  transition: all .2s;
  margin: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  backface-visibility: hidden; }
  @media only screen and (min-width: 1000px) {
    /* line 164, sass/components/_hero-slider.scss */
    .hero-slider-back-btn,
    .hero-slider-next-btn,
    .hero-slider-splitter {
      font-size: 14px; } }

/* line 185, sass/components/_hero-slider.scss */
.hero-slider-back-btn:hover,
.hero-slider-next-btn:hover {
  opacity: 1;
  cursor: pointer; }

/* line 191, sass/components/_hero-slider.scss */
.hero-overlay-text {
  position: absolute;
  color: #fff;
  z-index: 99999;
  opacity: 1; }
  @media only screen and (min-width: 1000px) {
    /* line 191, sass/components/_hero-slider.scss */
    .hero-overlay-text {
      margin-left: 2%; } }

/* line 202, sass/components/_hero-slider.scss */
.text-1 {
  min-width: 228px;
  width: 68%;
  max-width: 519px; }
  @media only screen and (min-width: 450px) {
    /* line 202, sass/components/_hero-slider.scss */
    .text-1 {
      width: 60%; } }
  @media only screen and (min-width: 533px) {
    /* line 202, sass/components/_hero-slider.scss */
    .text-1 {
      margin-left: 2%; } }
  @media only screen and (min-width: 872px) {
    /* line 202, sass/components/_hero-slider.scss */
    .text-1 {
      margin-left: 0; } }

/* line 220, sass/components/_hero-slider.scss */
.text-1--en {
  width: 76%;
  max-width: 575px; }
  @media only screen and (min-width: 450px) {
    /* line 220, sass/components/_hero-slider.scss */
    .text-1--en {
      width: 67%; } }

/* line 230, sass/components/_hero-slider.scss */
.text-2 {
  width: 79%;
  max-width: 723px; }
  @media only screen and (min-width: 1000px) {
    /* line 230, sass/components/_hero-slider.scss */
    .text-2 {
      width: initial; } }

/* line 239, sass/components/_hero-slider.scss */
.text-2--en {
  width: 84%;
  max-width: 615px; }
  @media only screen and (min-width: 450px) {
    /* line 239, sass/components/_hero-slider.scss */
    .text-2--en {
      width: 79%; } }

/* line 248, sass/components/_hero-slider.scss */
.text-3 {
  width: 73%;
  max-width: 568px; }
  @media only screen and (min-width: 450px) {
    /* line 248, sass/components/_hero-slider.scss */
    .text-3 {
      width: 71%; } }
  @media only screen and (min-width: 1000px) {
    /* line 248, sass/components/_hero-slider.scss */
    .text-3 {
      width: initial; } }

/* line 261, sass/components/_hero-slider.scss */
.text-3--en {
  max-width: 626px; }

/* line 265, sass/components/_hero-slider.scss */
.hero-overlay-text .hero-subtitle {
  font-size: clamp(12px, 3vw, 16px);
  text-transform: uppercase;
  margin-left: 1px;
  margin-bottom: 15px;
  letter-spacing: 1px; }
  @media only screen and (min-width: 1000px) {
    /* line 265, sass/components/_hero-slider.scss */
    .hero-overlay-text .hero-subtitle {
      font-size: 14px;
      margin-left: 9px; } }

/* line 278, sass/components/_hero-slider.scss */
.hero-overlay-text .hero-header {
  text-transform: uppercase; }

/* line 285, sass/components/_hero-slider.scss */
.hero-overlay-text .hero-text {
  margin-top: 20px;
  color: white; }
  @media only screen and (min-width: 1000px) {
    /* line 285, sass/components/_hero-slider.scss */
    .hero-overlay-text .hero-text {
      margin-top: 22px; } }

/* line 1, sass/components/_side-scrollbar.scss */
.side-scrollbar {
  display: none; }
  @media only screen and (min-width: 1000px) {
    /* line 1, sass/components/_side-scrollbar.scss */
    .side-scrollbar {
      display: initial;
      position: fixed;
      top: 32.5%;
      right: 41px; } }
  @media only screen and (min-width: 1230px) {
    /* line 1, sass/components/_side-scrollbar.scss */
    .side-scrollbar {
      right: 43px; } }
  /* line 15, sass/components/_side-scrollbar.scss */
  .side-scrollbar__container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; }
  /* line 22, sass/components/_side-scrollbar.scss */
  .side-scrollbar__bar-background {
    height: 210px;
    width: 2px;
    background-color: #3d3d3d;
    margin: 20px 0; }
  /* line 29, sass/components/_side-scrollbar.scss */
  .side-scrollbar__bar {
    position: absolute;
    top: 39px;
    left: 9px;
    height: 26.25px;
    width: 2px;
    background-color: #fff;
    transition: all .35s; }
  /* line 39, sass/components/_side-scrollbar.scss */
  .side-scrollbar__current, .side-scrollbar__total {
    color: #fff;
    font-size: 16px;
    transform: rotate(90deg);
    font-weight: 500; }

/* line 48, sass/components/_side-scrollbar.scss */
.side-scrollbar__container > span {
  display: inline-block; }

/* line 1, sass/components/_buttons.scss */
.btn {
  position: relative; }
  /* line 4, sass/components/_buttons.scss */
  .btn a {
    position: relative;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 18px 54px;
    z-index: 999; }

/* line 15, sass/components/_buttons.scss */
.btn-black::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #ff6600;
  transition: all .4s; }

/* line 26, sass/components/_buttons.scss */
.btn-black:hover::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 35, sass/components/_buttons.scss */
.btn-black {
  background: #101010; }
  /* line 38, sass/components/_buttons.scss */
  .btn-black a {
    color: #fff; }

/* line 44, sass/components/_buttons.scss */
.btn-white::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #101010;
  transition: all .4s; }

/* line 55, sass/components/_buttons.scss */
.btn-white:hover::after {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* line 64, sass/components/_buttons.scss */
.btn-white {
  background: #fff; }
  /* line 67, sass/components/_buttons.scss */
  .btn-white svg {
    fill: #101010;
    transition: fill .13s .1s; }
  /* line 72, sass/components/_buttons.scss */
  .btn-white a:hover svg {
    fill: #fff; }

/* line 1, sass/components/_scrollbar.scss */
html {
  scrollbar-width: thin;
  scrollbar-color: #101010 #101010; }

/* line 6, sass/components/_scrollbar.scss */
html::-webkit-scrollbar {
  width: 0; }

/* line 10, sass/components/_scrollbar.scss */
html::-webkit-scrollbar-track {
  background-color: #fff; }

/* line 14, sass/components/_scrollbar.scss */
html::-webkit-scrollbar-thumb {
  background: #e82e31; }

/* line 2, sass/components/_carousel.scss */
.glider {
  scrollbar-width: none;
  margin-bottom: 10px; }

/* line 7, sass/components/_carousel.scss */
.glider::-webkit-scrollbar {
  width: 0; }

/* line 11, sass/components/_carousel.scss */
.glider::-webkit-scrollbar-track {
  background: #f5f5f5; }

/* line 15, sass/components/_carousel.scss */
.glider::-webkit-scrollbar-thumb {
  background: #f5f5f5; }

/* line 20, sass/components/_carousel.scss */
.glider-dot {
  width: 10px;
  height: 10px; }

/* line 25, sass/components/_carousel.scss */
button.glider-dot.active {
  background: #38373b; }

/* line 29, sass/components/_carousel.scss */
.glider-track > div > img {
  margin-bottom: 16px; }

/* line 33, sass/components/_carousel.scss */
.glider-track > div > h4 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 6px; }

/* line 39, sass/components/_carousel.scss */
.glider-track > div > p {
  font-size: 16px;
  line-height: 22px; }

/* line 44, sass/components/_carousel.scss */
.glider > div > div {
  text-align: center; }

/* line 48, sass/components/_carousel.scss */
.glider > div > div:not(:last-child) {
  margin-right: 20px; }

/* line 1, sass/components/_svgs.scss */
.phone {
  width: 18px;
  fill: #fff;
  margin-left: -12px;
  margin-right: 4px;
  margin-bottom: -4px;
  transform: rotate(13deg); }

/* line 10, sass/components/_svgs.scss */
.email {
  width: 19px;
  fill: #fff;
  margin-left: -12px;
  margin-right: 5px;
  margin-bottom: -4px; }

/* line 17, sass/components/_svgs.scss */
.location {
  width: 20px;
  fill: #fff;
  margin-left: -12px;
  margin-right: 5px; }

/* line 24, sass/components/_svgs.scss */
.construction {
  width: 57px; }

/* line 28, sass/components/_svgs.scss */
.broom {
  width: 71px;
  margin-right: -15px; }

/* line 33, sass/components/_svgs.scss */
.interior {
  width: 53px; }

/* line 1, sass/components/_map.scss */
.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

/* line 1, sass/layout/_navigation.scss */
.nav-distance {
  width: 0;
  height: 0; }

/* line 6, sass/layout/_navigation.scss */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #101010;
  padding: 17px 7%;
  z-index: 99999; }
  @media only screen and (min-width: 1000px) {
    /* line 6, sass/layout/_navigation.scss */
    .nav {
      padding: 17px 14% 17px 7%; } }
  @media only screen and (min-width: 1500px) {
    /* line 6, sass/layout/_navigation.scss */
    .nav {
      padding: 17px 7%; } }
  /* line 27, sass/layout/_navigation.scss */
  .nav--scrolled {
    padding: 16px 7%; }
    @media only screen and (min-width: 1000px) {
      /* line 27, sass/layout/_navigation.scss */
      .nav--scrolled {
        padding: 16px 14% 16px 7%; } }
    @media only screen and (min-width: 1500px) {
      /* line 27, sass/layout/_navigation.scss */
      .nav--scrolled {
        padding: 16px 7%; } }
  /* line 39, sass/layout/_navigation.scss */
  .nav__logo {
    min-width: 83px;
    width: 14%;
    max-width: 115px;
    transition: all .35s; }
  /* line 46, sass/layout/_navigation.scss */
  .nav__logo img {
    width: 100%;
    height: 100%; }
  /* line 51, sass/layout/_navigation.scss */
  .nav__logo--scrolled {
    min-width: 73px;
    width: 12%;
    max-width: 105px; }
  /* line 58, sass/layout/_navigation.scss */
  .nav__hamburger > span {
    display: inline-block; }
  /* line 62, sass/layout/_navigation.scss */
  .nav__hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 99999;
    cursor: pointer; }
    @media only screen and (min-width: 1000px) {
      /* line 62, sass/layout/_navigation.scss */
      .nav__hamburger {
        display: none; } }
    /* line 75, sass/layout/_navigation.scss */
    .nav__hamburger--1 {
      width: 32px;
      height: 2px;
      background: #fff;
      margin-bottom: 8px;
      transition: margin 0s ,transform .3s; }
    /* line 83, sass/layout/_navigation.scss */
    .nav__hamburger .opened--1 {
      transform: rotate(45deg);
      margin-top: 5px;
      margin-bottom: -2px;
      background: #000; }
    /* line 90, sass/layout/_navigation.scss */
    .nav__hamburger--2 {
      width: 20px;
      height: 2px;
      background: #fff;
      transition: width .15s, transform .3s; }
    /* line 97, sass/layout/_navigation.scss */
    .nav__hamburger .opened--2 {
      width: 32px;
      transform: rotate(-45deg);
      background: #000; }

/* line 105, sass/layout/_navigation.scss */
.wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  max-width: 1240px; }

/* line 112, sass/layout/_navigation.scss */
.nav__mobile__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background: #fff;
  z-index: 999;
  transition: opacity .3s, visibility .3s;
  font-weight: 700; }
  @media only screen and (min-width: 1000px) {
    /* line 112, sass/layout/_navigation.scss */
    .nav__mobile__items {
      display: none; } }
  /* line 132, sass/layout/_navigation.scss */
  .nav__mobile__items__lang {
    position: absolute;
    top: 29px;
    left: 7%;
    font-weight: 600; }
    /* line 138, sass/layout/_navigation.scss */
    .nav__mobile__items__lang span {
      font-size: 24px;
      padding: 0 5px; }
  /* line 144, sass/layout/_navigation.scss */
  .nav__mobile__items__lang > a {
    font-size: 24px;
    opacity: .5;
    transition: all .28s; }
  /* line 150, sass/layout/_navigation.scss */
  .nav__mobile__items__lang > a:hover {
    opacity: 1; }
  /* line 154, sass/layout/_navigation.scss */
  .nav__mobile__items .active-lang {
    opacity: 1; }

/* line 159, sass/layout/_navigation.scss */
.nav__mobile__items > li:not(:nth-child(-n+2)) {
  padding-top: 31px; }

/* line 164, sass/layout/_navigation.scss */
.nav__mobile__items > li a {
  color: #101010; }

/* line 168, sass/layout/_navigation.scss */
.nav__mobile__items > li:not(:first-child) a {
  font-size: 26px; }

/* line 172, sass/layout/_navigation.scss */
.nav__items {
  display: none;
  font-weight: 700; }
  @media only screen and (min-width: 1000px) {
    /* line 172, sass/layout/_navigation.scss */
    .nav__items {
      display: flex;
      align-items: center; } }

/* line 183, sass/layout/_navigation.scss */
.nav__items > li > a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .27s;
  backface-visibility: hidden; }

/* line 196, sass/layout/_navigation.scss */
.nav__items > li a:hover::before {
  transform: scaleX(1); }

/* line 200, sass/layout/_navigation.scss */
.nav__items > li {
  position: relative; }

/* line 204, sass/layout/_navigation.scss */
.nav__items > li a {
  color: #fff;
  opacity: .95;
  font-size: 16px; }

/* line 210, sass/layout/_navigation.scss */
.nav__items > li:not(:first-child) {
  margin-left: 36px; }

/* line 214, sass/layout/_navigation.scss */
.nav__lang {
  display: none; }
  @media only screen and (min-width: 1000px) {
    /* line 214, sass/layout/_navigation.scss */
    .nav__lang {
      display: initial;
      position: absolute;
      top: 38px;
      right: 23px;
      font-weight: 600; } }
  @media only screen and (min-width: 1200px) {
    /* line 214, sass/layout/_navigation.scss */
    .nav__lang {
      right: 19px; } }
  /* line 229, sass/layout/_navigation.scss */
  .nav__lang .active-nav-lang {
    opacity: 1; }
  /* line 233, sass/layout/_navigation.scss */
  .nav__lang__divider {
    padding: 0 5px; }

/* line 238, sass/layout/_navigation.scss */
.nav__lang > * {
  font-size: 17px;
  color: #fff; }

/* line 243, sass/layout/_navigation.scss */
.nav__lang > a {
  opacity: 0.5;
  transition: all .28s; }

/* line 248, sass/layout/_navigation.scss */
.nav__lang > a:hover {
  opacity: 1; }

/* line 1, sass/layout/_home.scss */
section {
  position: relative; }

@media only screen and (min-width: 1000px) {
  /* line 5, sass/layout/_home.scss */
  body {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: clamp(100px, 9vw, 115px);
    margin-left: clamp(30px, 4vw, 45px);
    background: #101010; } }

/* line 15, sass/layout/_home.scss */
header {
  position: relative; }

/* line 20, sass/layout/_home.scss */
.hero {
  position: relative; }
  /* line 23, sass/layout/_home.scss */
  .hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url(/imgs/hero/hero.jpg) center;
    background-size: cover;
    background-repeat: no-repeat; }
  /* line 34, sass/layout/_home.scss */
  .hero__text {
    padding-top: 60px; }
    @media only screen and (min-width: 720px) {
      /* line 34, sass/layout/_home.scss */
      .hero__text {
        padding-top: 90px; } }
    /* line 41, sass/layout/_home.scss */
    .hero__text__header {
      color: #fff;
      max-width: 12ch;
      text-transform: uppercase;
      line-height: 1.15;
      text-align: center; }
    /* line 49, sass/layout/_home.scss */
    .hero__text__header span {
      display: inline-block;
      opacity: 0; }
    /* line 54, sass/layout/_home.scss */
    .hero__text__header--left {
      animation: fadeInLeftHero .96s forwards; }
    /* line 58, sass/layout/_home.scss */
    .hero__text__header--right {
      animation: fadeInRightHero .96s forwards; }

/* line 65, sass/layout/_home.scss */
.about-us {
  padding: 60px 15px 0 15px;
  background-color: #fff;
  position: relative; }
  @media only screen and (min-width: 770px) {
    /* line 65, sass/layout/_home.scss */
    .about-us {
      padding: 60px 15px 20px 15px; } }
  /* line 74, sass/layout/_home.scss */
  .about-us__subtitle {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 10px; }
  /* line 80, sass/layout/_home.scss */
  .about-us__container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    max-width: 1140px;
    margin: 0 auto; }
    @media only screen and (min-width: 770px) {
      /* line 80, sass/layout/_home.scss */
      .about-us__container {
        grid-template-columns: 1fr 1fr;
        row-gap: 45px; } }
  /* line 93, sass/layout/_home.scss */
  .about-us__container > div {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  /* line 99, sass/layout/_home.scss */
  .about-us__logo {
    width: clamp(250px, 25vw, 313px);
    margin-bottom: 10px; }
    @media only screen and (min-width: 770px) {
      /* line 99, sass/layout/_home.scss */
      .about-us__logo {
        padding-top: 42px;
        margin-bottom: initial; } }
  /* line 109, sass/layout/_home.scss */
  .about-us__about-company {
    align-items: flex-start; }
    /* line 112, sass/layout/_home.scss */
    .about-us__about-company p {
      margin-bottom: 40px; }
    /* line 116, sass/layout/_home.scss */
    .about-us__about-company button {
      margin-bottom: 35px; }
      @media only screen and (min-width: 770px) {
        /* line 116, sass/layout/_home.scss */
        .about-us__about-company button {
          margin-bottom: 15px; } }
  /* line 125, sass/layout/_home.scss */
  .about-us__img-1, .about-us__img-2, .about-us__img-3 {
    margin-bottom: 30px; }
    @media only screen and (min-width: 770px) {
      /* line 125, sass/layout/_home.scss */
      .about-us__img-1, .about-us__img-2, .about-us__img-3 {
        margin-bottom: initial; } }
  /* line 136, sass/layout/_home.scss */
  .about-us__text-1 {
    text-align: center;
    margin-bottom: 50px; }
    @media only screen and (min-width: 770px) {
      /* line 136, sass/layout/_home.scss */
      .about-us__text-1 {
        padding: 0 30px 0 15px;
        margin-bottom: initial;
        order: 1; } }
    @media only screen and (min-width: 1200px) {
      /* line 136, sass/layout/_home.scss */
      .about-us__text-1 {
        padding: 0 73px 0 35px; } }
    /* line 150, sass/layout/_home.scss */
    .about-us__text-1 h3 {
      text-transform: uppercase;
      margin-bottom: 15px; }
  @media only screen and (min-width: 770px) {
    /* line 156, sass/layout/_home.scss */
    .about-us__img-1 {
      order: 2; } }
  @media only screen and (min-width: 770px) {
    /* line 162, sass/layout/_home.scss */
    .about-us__img-2 {
      order: 3; } }
  @media only screen and (min-width: 770px) {
    /* line 168, sass/layout/_home.scss */
    .about-us__img-3 {
      order: 6; } }
  /* line 174, sass/layout/_home.scss */
  .about-us__text-2 {
    text-align: center;
    margin-bottom: 50px; }
    @media only screen and (min-width: 770px) {
      /* line 174, sass/layout/_home.scss */
      .about-us__text-2 {
        padding: 0 25px 0 43px;
        margin-bottom: initial; } }
    @media only screen and (min-width: 1200px) {
      /* line 174, sass/layout/_home.scss */
      .about-us__text-2 {
        padding: 0 35px 0 73px; } }
    /* line 187, sass/layout/_home.scss */
    .about-us__text-2 h3 {
      text-transform: uppercase;
      margin-bottom: 15px; }
    @media only screen and (min-width: 770px) {
      /* line 174, sass/layout/_home.scss */
      .about-us__text-2 {
        order: 4; } }
  /* line 197, sass/layout/_home.scss */
  .about-us__text-3 {
    text-align: center;
    margin-bottom: 50px;
    order: 1; }
    @media only screen and (min-width: 770px) {
      /* line 197, sass/layout/_home.scss */
      .about-us__text-3 {
        padding: 0 30px 0 15px;
        margin-bottom: initial;
        order: 5; } }
    @media only screen and (min-width: 1200px) {
      /* line 197, sass/layout/_home.scss */
      .about-us__text-3 {
        padding: 0 73px 0 35px; } }
    /* line 212, sass/layout/_home.scss */
    .about-us__text-3 h3 {
      text-transform: uppercase;
      margin-bottom: 15px; }
  /* line 219, sass/layout/_home.scss */
  .about-us__about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 99999;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (min-width: 720px) {
      /* line 219, sass/layout/_home.scss */
      .about-us__about {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }
    /* line 240, sass/layout/_home.scss */
    .about-us__about__wrapper {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 180px 1fr;
      width: 100%;
      height: 100%;
      color: #101010;
      background: #fff;
      transition: all .28s;
      overflow: auto; }
      @media only screen and (min-width: 720px) {
        /* line 240, sass/layout/_home.scss */
        .about-us__about__wrapper {
          width: 80%;
          height: 80%;
          box-shadow: 0 10px 61px 0 rgba(0, 0, 0, 0.25); } }
      @media only screen and (min-width: 1000px) {
        /* line 240, sass/layout/_home.scss */
        .about-us__about__wrapper {
          grid-template-columns: 1fr 2fr;
          grid-template-rows: 100%;
          width: 85%;
          height: 60%;
          overflow: hidden; } }
      @media only screen and (min-width: 1200px) {
        /* line 240, sass/layout/_home.scss */
        .about-us__about__wrapper {
          width: 75%;
          height: 65%; } }
      @media only screen and (min-width: 1400px) {
        /* line 240, sass/layout/_home.scss */
        .about-us__about__wrapper {
          width: 60%;
          height: 60%; } }
    /* line 277, sass/layout/_home.scss */
    .about-us__about__img picture img {
      padding: 5px;
      object-fit: cover;
      width: 100%;
      height: 100%; }
    /* line 284, sass/layout/_home.scss */
    .about-us__about__button > span {
      display: inline-block;
      position: absolute;
      top: 17px;
      right: 2px;
      width: 31px;
      height: 2px;
      background-color: #fff;
      transition: all .45s; }
      @media only screen and (min-width: 1000px) {
        /* line 284, sass/layout/_home.scss */
        .about-us__about__button > span {
          background-color: #101010; } }
    /* line 299, sass/layout/_home.scss */
    .about-us__about__button {
      position: absolute;
      width: 35px;
      height: 35px;
      right: 24px;
      top: 22px;
      cursor: pointer; }
    /* line 308, sass/layout/_home.scss */
    .about-us__about__button:hover .about-us__about__button--1 {
      transform: rotate(-45deg); }
    /* line 312, sass/layout/_home.scss */
    .about-us__about__button:hover .about-us__about__button--2 {
      transform: rotate(45deg); }
    /* line 316, sass/layout/_home.scss */
    .about-us__about__button--1 {
      transform: rotate(45deg); }
    /* line 320, sass/layout/_home.scss */
    .about-us__about__button--2 {
      transform: rotate(-45deg); }
    /* line 324, sass/layout/_home.scss */
    .about-us__about__title {
      color: #101010;
      margin-bottom: 30px; }
    /* line 329, sass/layout/_home.scss */
    .about-us__about__content {
      padding: 40px 55px 50px 40px;
      overflow: auto; }
  /* line 335, sass/layout/_home.scss */
  .about-us__about__content > p {
    color: #525252; }
  /* line 339, sass/layout/_home.scss */
  .about-us__about__content > p:not(:last-child) {
    margin-bottom: 28px; }
  /* line 343, sass/layout/_home.scss */
  .about-us__wrapper {
    max-width: 1140px;
    margin: 0 auto; }

/* line 350, sass/layout/_home.scss */
.visible {
  visibility: initial;
  opacity: 1; }

/* line 355, sass/layout/_home.scss */
.about-us-img {
  max-width: 570px; }

/* line 360, sass/layout/_home.scss */
.all-services {
  padding: 60px 0 100px 0;
  background: #fff; }
  /* line 364, sass/layout/_home.scss */
  .all-services__title {
    color: #101010;
    text-align: center; }
  /* line 369, sass/layout/_home.scss */
  .all-services__services {
    display: grid;
    margin-top: 60px; }
    @media only screen and (min-width: 1000px) {
      /* line 369, sass/layout/_home.scss */
      .all-services__services {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); } }
    @media only screen and (min-width: 1200px) {
      /* line 369, sass/layout/_home.scss */
      .all-services__services {
        grid-template-columns: repeat(3, 1fr); } }
  /* line 382, sass/layout/_home.scss */
  .all-services__services > div {
    display: flex;
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 90px 14%;
    transition: border .2s;
    color: initial;
    flex-wrap: wrap;
    text-align: center; }
    @media only screen and (min-width: 450px) {
      /* line 382, sass/layout/_home.scss */
      .all-services__services > div {
        text-align: initial; } }
    @media only screen and (min-width: 533px) {
      /* line 382, sass/layout/_home.scss */
      .all-services__services > div {
        flex-wrap: nowrap;
        padding: 90px 15%; } }
    @media only screen and (min-width: 1000px) {
      /* line 382, sass/layout/_home.scss */
      .all-services__services > div {
        padding: 85px 5%; } }
  /* line 405, sass/layout/_home.scss */
  .all-services__services > div:hover {
    border: 1px solid #101010; }
  /* line 409, sass/layout/_home.scss */
  .all-services__services > div > div:nth-child(1) {
    margin-bottom: 12px; }
    @media only screen and (min-width: 450px) {
      /* line 409, sass/layout/_home.scss */
      .all-services__services > div > div:nth-child(1) {
        margin-top: 10px;
        margin-right: 23px;
        margin-bottom: 0; } }
    @media only screen and (min-width: 533px) {
      /* line 409, sass/layout/_home.scss */
      .all-services__services > div > div:nth-child(1) {
        margin-right: 40px; } }
  /* line 423, sass/layout/_home.scss */
  .all-services__services > div > div {
    width: 100%; }
    @media only screen and (min-width: 450px) {
      /* line 423, sass/layout/_home.scss */
      .all-services__services > div > div {
        width: initial; } }
  @media only screen and (min-width: 450px) {
    /* line 431, sass/layout/_home.scss */
    .all-services__services > div > div:nth-child(2) {
      display: flex;
      align-items: center; } }
  @media only screen and (min-width: 533px) {
    /* line 431, sass/layout/_home.scss */
    .all-services__services > div > div:nth-child(2) {
      display: initial;
      align-items: initial; } }
  /* line 444, sass/layout/_home.scss */
  .all-services__services > div > div > p {
    display: none; }
    @media only screen and (min-width: 533px) {
      /* line 444, sass/layout/_home.scss */
      .all-services__services > div > div > p {
        display: initial; } }
  /* line 452, sass/layout/_home.scss */
  .all-services__services > div > p {
    margin-top: 20px; }
    @media only screen and (min-width: 533px) {
      /* line 452, sass/layout/_home.scss */
      .all-services__services > div > p {
        display: none; } }
  @media only screen and (min-width: 533px) {
    /* line 460, sass/layout/_home.scss */
    .all-services__services > div > div > h4 {
      margin-bottom: 20px; } }

/* line 469, sass/layout/_home.scss */
.projects {
  background-color: #f5f5f5;
  padding: 70px 15px; }
  @media only screen and (min-width: 1000px) {
    /* line 469, sass/layout/_home.scss */
    .projects {
      display: flex;
      padding: 80px 0 80px 5%; } }
  @media only screen and (min-width: 1200px) {
    /* line 469, sass/layout/_home.scss */
    .projects {
      padding: 120px 0 80px 10%; } }
  /* line 482, sass/layout/_home.scss */
  .projects__about {
    margin-bottom: 50px; }
    @media only screen and (min-width: 770px) {
      /* line 482, sass/layout/_home.scss */
      .projects__about {
        margin-bottom: 55px; } }
    @media only screen and (min-width: 1000px) {
      /* line 482, sass/layout/_home.scss */
      .projects__about {
        margin-right: 113px;
        max-width: 57ch; } }
    /* line 494, sass/layout/_home.scss */
    .projects__about__title {
      margin-bottom: 20px;
      font-size: clamp(31px, 4.1vw, 46px); }
      @media only screen and (min-width: 770px) {
        /* line 494, sass/layout/_home.scss */
        .projects__about__title {
          margin-bottom: 25px;
          font-weight: 600; } }
  @media only screen and (min-width: 1000px) {
    /* line 505, sass/layout/_home.scss */
    .projects__carousel {
      min-width: 53%;
      max-width: 65%; } }

/* line 514, sass/layout/_home.scss */
.our-clients {
  background-color: #fff;
  padding: 60px 15px 70px 15px;
  text-align: center; }
  @media only screen and (min-width: 770px) {
    /* line 514, sass/layout/_home.scss */
    .our-clients {
      padding: 70px 15px 100px 15px; } }
  /* line 523, sass/layout/_home.scss */
  .our-clients__title {
    margin-bottom: 25px; }
  /* line 527, sass/layout/_home.scss */
  .our-clients__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: initial;
    max-width: 645px;
    margin: 0 auto; }
    /* line 535, sass/layout/_home.scss */
    .our-clients__text--1 {
      display: inline-block;
      margin-bottom: 15px;
      max-width: 68ch; }
    /* line 541, sass/layout/_home.scss */
    .our-clients__text--2 {
      display: inline-block;
      width: 100%;
      margin-bottom: 35px; }
  /* line 548, sass/layout/_home.scss */
  .our-clients__clients {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 160px);
    grid-template-areas: "client-1" "client-2"  "client-3"  "client-4" "client-5"  "client-6"  "client-7"  "client-8";
    gap: 60px 0; }
    @media only screen and (min-width: 770px) {
      /* line 548, sass/layout/_home.scss */
      .our-clients__clients {
        grid-template-columns: repeat(2, 160px);
        grid-template-areas: "client-1 client-2" "client-3 client-4"  "client-5 client-6"  "client-7 client-8";
        gap: 60px 160px; } }
    @media only screen and (min-width: 1000px) {
      /* line 548, sass/layout/_home.scss */
      .our-clients__clients {
        grid-template-columns: repeat(5, 160px);
        grid-template-areas: "client-1 client-2 client-3 client-4 client-5" ". client-6 client-7 client-8 .";
        gap: 22px 2.8vw; } }
    @media only screen and (min-width: 1200px) {
      /* line 548, sass/layout/_home.scss */
      .our-clients__clients {
        gap: 22px 4vw; } }
    /* line 586, sass/layout/_home.scss */
    .our-clients__clients__client-1 {
      grid-area: client-1; }
    /* line 590, sass/layout/_home.scss */
    .our-clients__clients__client-2 {
      grid-area: client-2; }
    /* line 594, sass/layout/_home.scss */
    .our-clients__clients__client-3 {
      grid-area: client-3; }
    /* line 598, sass/layout/_home.scss */
    .our-clients__clients__client-4 {
      grid-area: client-4; }
    /* line 602, sass/layout/_home.scss */
    .our-clients__clients__client-5 {
      grid-area: client-5; }
    /* line 606, sass/layout/_home.scss */
    .our-clients__clients__client-6 {
      grid-area: client-6; }
      /* line 609, sass/layout/_home.scss */
      .our-clients__clients__client-6 img {
        max-height: 55px; }
    /* line 614, sass/layout/_home.scss */
    .our-clients__clients__client-7 {
      grid-area: client-7; }
    /* line 618, sass/layout/_home.scss */
    .our-clients__clients__client-8 {
      grid-area: client-8; }
      /* line 621, sass/layout/_home.scss */
      .our-clients__clients__client-8 img {
        max-height: 80px; }
  /* line 627, sass/layout/_home.scss */
  .our-clients__clients > a {
    opacity: .3;
    transition: opacity .3s; }
  /* line 632, sass/layout/_home.scss */
  .our-clients__clients > a:hover {
    opacity: 1; }

/* line 638, sass/layout/_home.scss */
.footer {
  background: #0f0f0f;
  padding: 50px 30px 20px 30px;
  color: #fff;
  text-align: center; }
  @media only screen and (min-width: 1000px) {
    /* line 638, sass/layout/_home.scss */
    .footer {
      padding: 50px 0 20px 0; } }
  /* line 648, sass/layout/_home.scss */
  .footer__logo {
    display: inline-block;
    max-width: 190px;
    margin-bottom: 40px; }
    @media only screen and (min-width: 1000px) {
      /* line 648, sass/layout/_home.scss */
      .footer__logo {
        margin-bottom: 40px; } }
  /* line 658, sass/layout/_home.scss */
  .footer__contact {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    align-items: center; }
    /* line 665, sass/layout/_home.scss */
    .footer__contact__title {
      margin-bottom: 40px;
      font-size: 34px;
      font-weight: 600; }
    /* line 671, sass/layout/_home.scss */
    .footer__contact__map {
      height: 350px;
      width: 100%;
      margin-bottom: 40px; }
      @media only screen and (min-width: 770px) {
        /* line 671, sass/layout/_home.scss */
        .footer__contact__map {
          height: 500px; } }
    /* line 681, sass/layout/_home.scss */
    .footer__contact__text--1, .footer__contact__text--2 {
      color: #fff;
      font-size: 17px; }
    /* line 687, sass/layout/_home.scss */
    .footer__contact__info > li > h4 {
      margin-bottom: 14px; }
    /* line 691, sass/layout/_home.scss */
    .footer__contact__info > li:first-child {
      display: flex;
      flex-direction: column; }
    /* line 696, sass/layout/_home.scss */
    .footer__contact__tel--1 {
      margin-bottom: 16px; }
  /* line 701, sass/layout/_home.scss */
  .footer__contact > ul > li > a {
    color: #fff;
    font-size: 16px;
    font-weight: 500; }
  /* line 707, sass/layout/_home.scss */
  .footer__contact > ul > li:not(:last-child) {
    padding-bottom: 15px; }
  /* line 711, sass/layout/_home.scss */
  .footer__copyright {
    color: #fff;
    font-size: 17px; }
    @media only screen and (min-width: 1000px) {
      /* line 711, sass/layout/_home.scss */
      .footer__copyright {
        text-align: center;
        margin-top: 10px;
        font-size: 18px; } }
