/* line 1, sass/base/_typography.scss */
body {
  font-family: "Work Sans", serif;
  font-weight: 700; }

/* line 6, sass/base/_typography.scss */
h1, h2, h3, h4, h5 {
  font-family: "Work Sans", serif;
  font-weight: 700; }

/* line 11, sass/base/_typography.scss */
h1 {
  font-size: clamp(34px, 9vw, 80px);
  line-height: 1.085; }

/* line 16, sass/base/_typography.scss */
p {
  font-family: "Work Sans", serif;
  font-weight: 400;
  font-size: clamp(16px, 3vw, 22px);
  line-height: clamp(22px, 3.5vw, 30px); }

@font-face {
  font-family: 'Work Sans';
  src: url("/font/WorkSans-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Work Sans';
  src: url("/font/WorkSans-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

/* line 1, sass/base/_reset.scss */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

/* line 7, sass/base/_reset.scss */
*,
*::before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none; }

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-40px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

@keyframes animateInLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }

@keyframes animateInRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }

/* line 1, sass/components/_scrollbar.scss */
html {
  scrollbar-width: thin;
  scrollbar-color: #000 #000; }

/* line 6, sass/components/_scrollbar.scss */
html::-webkit-scrollbar {
  width: 0; }

/* line 10, sass/components/_scrollbar.scss */
html::-webkit-scrollbar-track {
  background-color: white; }

/* line 14, sass/components/_scrollbar.scss */
html::-webkit-scrollbar-thumb {
  background: #e82e31; }

/* line 1, sass/components/_hero-slider.scss */
#hero-slider {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 74px); }
  @media only screen and (min-width: 1000px) {
    /* line 1, sass/components/_hero-slider.scss */
    #hero-slider {
      height: calc(100vh - 88px); } }

/* line 11, sass/components/_hero-slider.scss */
#hero-slider::before {
  display: none; }
  @media only screen and (min-width: 1200px) {
    /* line 11, sass/components/_hero-slider.scss */
    #hero-slider::before {
      display: initial;
      content: "";
      position: absolute;
      top: 0;
      left: 20%;
      bottom: 0;
      width: 20%;
      border-left: solid rgba(255, 255, 255, 0.25) 1px;
      border-right: solid rgba(255, 255, 255, 0.25) 1px;
      z-index: 999; } }

/* line 28, sass/components/_hero-slider.scss */
#hero-slider::after {
  display: none; }
  @media only screen and (min-width: 1200px) {
    /* line 28, sass/components/_hero-slider.scss */
    #hero-slider::after {
      display: initial;
      content: "";
      position: absolute;
      top: 0;
      right: 20%;
      bottom: 0;
      width: 20%;
      border-left: solid rgba(255, 255, 255, 0.25) 1px;
      border-right: solid rgba(255, 255, 255, 0.25) 1px;
      z-index: 999; } }

/* line 45, sass/components/_hero-slider.scss */
.hero-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  z-index: 700;
  height: calc(100vh - 74px); }
  @media only screen and (min-width: 1000px) {
    /* line 45, sass/components/_hero-slider.scss */
    .hero-slide {
      height: calc(100vh - 88px); } }

/* line 59, sass/components/_hero-slider.scss */
.hero-slide > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none; }

/* line 70, sass/components/_hero-slider.scss */
.hero-slide-1 {
  background: url(/imgs/1-mobile.jpg);
  background-position: 82% 0; }
  @media only screen and (min-width: 720px) {
    /* line 70, sass/components/_hero-slider.scss */
    .hero-slide-1 {
      background: url(/imgs/1-tablet.jpg);
      background-position: 92% 0; } }
  @media only screen and (min-width: 1000px) {
    /* line 70, sass/components/_hero-slider.scss */
    .hero-slide-1 {
      background: url(/imgs/1.jpg);
      background-position: 70% 0; } }

/* line 85, sass/components/_hero-slider.scss */
.hero-slide-2 {
  background: url(/imgs/2-mobile.jpg);
  background-position: 41% 0; }
  @media only screen and (min-width: 720px) {
    /* line 85, sass/components/_hero-slider.scss */
    .hero-slide-2 {
      background: url(/imgs/2.jpg);
      background-position: 92% 0; } }
  @media only screen and (min-width: 1000px) {
    /* line 85, sass/components/_hero-slider.scss */
    .hero-slide-2 {
      background-position: 70% 0; } }
  @media only screen and (min-width: 1200px) {
    /* line 85, sass/components/_hero-slider.scss */
    .hero-slide-2 {
      background-position: 100% 69%; } }

/* line 103, sass/components/_hero-slider.scss */
.hero-slide-3 {
  background: url(/imgs/3-mobile.jpg);
  background-position: 0 0; }
  @media only screen and (min-width: 720px) {
    /* line 103, sass/components/_hero-slider.scss */
    .hero-slide-3 {
      background: url(/imgs/3-tablet.jpg);
      background-position: 92% 0; } }
  @media only screen and (min-width: 1000px) {
    /* line 103, sass/components/_hero-slider.scss */
    .hero-slide-3 {
      background: url(/imgs/3.jpg);
      background-position: 70% 0; } }
  @media only screen and (min-width: 1200px) {
    /* line 103, sass/components/_hero-slider.scss */
    .hero-slide-3 {
      background-position: 0 67%; } }

/* line 122, sass/components/_hero-slider.scss */
.active {
  z-index: 998; }

/* line 126, sass/components/_hero-slider.scss */
.slideInLeft {
  animation-name: animateInLeft;
  z-index: 998; }

/* line 131, sass/components/_hero-slider.scss */
.slideInRight {
  animation-name: animateInRight;
  z-index: 998; }

/* line 136, sass/components/_hero-slider.scss */
.slideOutLeft {
  transform: translateX(-100%); }

/* line 140, sass/components/_hero-slider.scss */
.slideOutRight {
  transform: translateX(100%); }

/* line 144, sass/components/_hero-slider.scss */
.hero-dots {
  position: absolute;
  display: flex;
  justify-content: space-between;
  bottom: 57px;
  left: 49.9%;
  transform: translateX(-50%);
  width: 110px;
  z-index: 999; }

/* line 155, sass/components/_hero-slider.scss */
.dot {
  width: 32px;
  height: 3px;
  background: #fff;
  opacity: .5; }

/* line 162, sass/components/_hero-slider.scss */
.hero-buttons {
  position: absolute;
  display: flex;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999; }

/* line 171, sass/components/_hero-slider.scss */
.hero-slider-back-btn,
.hero-slider-next-btn,
.hero-slider-splitter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  opacity: .7;
  transition: all .2s;
  margin: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  backface-visibility: hidden; }
  @media only screen and (min-width: 1000px) {
    /* line 171, sass/components/_hero-slider.scss */
    .hero-slider-back-btn,
    .hero-slider-next-btn,
    .hero-slider-splitter {
      font-size: 14px; } }

/* line 192, sass/components/_hero-slider.scss */
.hero-slider-back-btn:hover,
.hero-slider-next-btn:hover {
  opacity: 1;
  cursor: pointer; }

/* line 198, sass/components/_hero-slider.scss */
.hero-overlay-text {
  position: absolute;
  color: #fff;
  z-index: 99999;
  opacity: 1; }

/* line 205, sass/components/_hero-slider.scss */
.text-1 {
  min-width: 228px;
  width: 60%;
  max-width: 519px; }
  @media only screen and (min-width: 533px) {
    /* line 205, sass/components/_hero-slider.scss */
    .text-1 {
      margin-left: 2%; } }
  @media only screen and (min-width: 872px) {
    /* line 205, sass/components/_hero-slider.scss */
    .text-1 {
      margin-left: 0; } }
  /* line 218, sass/components/_hero-slider.scss */
  .text-1 h1 {
    width: 10ch; }

/* line 223, sass/components/_hero-slider.scss */
.text-2 {
  width: 79%;
  max-width: 723px; }
  @media only screen and (min-width: 1000px) {
    /* line 223, sass/components/_hero-slider.scss */
    .text-2 {
      width: initial; } }
  /* line 231, sass/components/_hero-slider.scss */
  .text-2 h1 {
    width: 14ch; }

/* line 236, sass/components/_hero-slider.scss */
.text-3 {
  width: 68%;
  max-width: 559px; }
  @media only screen and (min-width: 1000px) {
    /* line 236, sass/components/_hero-slider.scss */
    .text-3 {
      width: initial; } }

/* line 245, sass/components/_hero-slider.scss */
.hero-overlay-text .hero-subtitle {
  font-size: clamp(12px, 3vw, 16px);
  text-transform: uppercase;
  margin-left: 1px;
  margin-bottom: 15px;
  letter-spacing: 1px; }
  @media only screen and (min-width: 1000px) {
    /* line 245, sass/components/_hero-slider.scss */
    .hero-overlay-text .hero-subtitle {
      font-size: 14px;
      margin-left: 9px; } }

/* line 258, sass/components/_hero-slider.scss */
.hero-overlay-text .hero-header {
  text-transform: uppercase; }

/* line 265, sass/components/_hero-slider.scss */
.hero-overlay-text .hero-text {
  margin-top: 20px;
  color: white; }
  @media only screen and (min-width: 1000px) {
    /* line 265, sass/components/_hero-slider.scss */
    .hero-overlay-text .hero-text {
      margin-top: 22px; } }

/* line 1, sass/layout/_navigation.scss */
body {
  height: 200vh; }

/* line 5, sass/layout/_navigation.scss */
.nav-distance {
  width: 0;
  height: 0; }

/* line 10, sass/layout/_navigation.scss */
.nav {
  display: flex;
  justify-content: center;
  background-color: #101010;
  padding: 23px 7%;
  /*
    &__logo img {
        width: 145px;
        height: 50px;
    }
    */ }
  @media only screen and (min-width: 1000px) {
    /* line 10, sass/layout/_navigation.scss */
    .nav {
      padding: 30px 7%; } }
  /* line 20, sass/layout/_navigation.scss */
  .nav__logo {
    color: #fff;
    font-size: 23px;
    position: relative;
    z-index: 99999; }
  /* line 34, sass/layout/_navigation.scss */
  .nav__hamburger > span {
    display: inline-block; }
  /* line 38, sass/layout/_navigation.scss */
  .nav__hamburger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    z-index: 99999; }
    @media only screen and (min-width: 1000px) {
      /* line 38, sass/layout/_navigation.scss */
      .nav__hamburger {
        display: none; } }
    /* line 50, sass/layout/_navigation.scss */
    .nav__hamburger--1 {
      width: 32px;
      height: 2px;
      background: #fff;
      margin-bottom: 8px;
      transition: margin 0s ,transform .3s; }
    /* line 58, sass/layout/_navigation.scss */
    .nav__hamburger .opened--1 {
      transform: rotate(45deg);
      margin-top: 5px;
      margin-bottom: -2px;
      background: #000; }
    /* line 65, sass/layout/_navigation.scss */
    .nav__hamburger--2 {
      width: 20px;
      height: 2px;
      background: #fff;
      transition: width .15s, transform .3s; }
    /* line 72, sass/layout/_navigation.scss */
    .nav__hamburger .opened--2 {
      width: 32px;
      transform: rotate(-45deg);
      background: #000; }

/* line 80, sass/layout/_navigation.scss */
.wrapper {
  flex-basis: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  max-width: 1240px; }

/* line 88, sass/layout/_navigation.scss */
.nav__mobile__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  background: #fff;
  z-index: 999;
  transition: opacity .3s, visibility .3s; }
  @media only screen and (min-width: 1000px) {
    /* line 88, sass/layout/_navigation.scss */
    .nav__mobile__items {
      display: none; } }

/* line 108, sass/layout/_navigation.scss */
.nav__mobile__items > li:not(:first-child) {
  padding-top: 31px; }

/* line 112, sass/layout/_navigation.scss */
.nav__mobile__items > li a {
  font-size: 26px;
  color: #101010; }

/* line 117, sass/layout/_navigation.scss */
.nav__items {
  display: none; }
  @media only screen and (min-width: 1000px) {
    /* line 117, sass/layout/_navigation.scss */
    .nav__items {
      display: flex;
      align-items: center; } }

/* line 126, sass/layout/_navigation.scss */
.nav__items > li > a::before {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all .27s;
  backface-visibility: hidden; }

/* line 139, sass/layout/_navigation.scss */
.nav__items > li a:hover::before {
  transform: scaleX(1); }

/* line 143, sass/layout/_navigation.scss */
.nav__items > li {
  position: relative; }

/* line 147, sass/layout/_navigation.scss */
.nav__items > li a {
  color: #fff;
  opacity: .95;
  font-size: 16px; }

/* line 153, sass/layout/_navigation.scss */
.nav__items > li:not(:first-child) {
  margin-left: 36px; }

/* line 1, sass/layout/_main-layout.scss */
body {
  background: #101010; }
  @media only screen and (min-width: 1000px) {
    /* line 1, sass/layout/_main-layout.scss */
    body {
      margin: 0 127px 0 48px; } }

/* line 9, sass/layout/_main-layout.scss */
.hero {
  position: relative; }
