body {
    background: #f5f5f5;

    @media only screen and (min-width: $laptop) {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: clamp(50px, 9vw, 127px);
        margin-left: clamp(24px, 3.5vw, 48px);
        background: $color-background-desktop;
    }
}

//Hero Section
.hero {
    position: relative;
}

//About Us Section
.about-us {
    padding: 60px 15px 100px 15px;
    background-color: $color-section-white;
    position: relative;

    &__about {
        visibility: hidden;
        width: 100%;
        height: 100%;
        padding: 70px 30px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: $z-index-max;
        background-color: $color-section-black;
        background: url(/imgs/about-us/section-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        color: $color-primary;
        opacity: 0;
        transition: all .28s;

        &__button > span {
            display: inline-block;
            position: absolute;
            top: 17px;
            right: 2px;
            width: 31px;
            height: 2px;
            background-color: $color-primary;
            transition: all .45s;
        }

        &__button {
            position: absolute;
            width: 35px;
            height: 35px;
            right: 24px;
            top: 22px;
            cursor: pointer;
        }

        &__button:hover &__button--1 {
            transform: rotate(-45deg);
        }

        &__button:hover &__button--2 {
            transform: rotate(45deg);
        }

        &__button--1 {
            transform: rotate(45deg);
        }

        &__button--2 {
            transform: rotate(-45deg);
        }

        &__title {
            margin-bottom: 30px;
        }
    }

    &__about > p:not(:last-child) {
        margin-bottom: 35px;
    }
}

.visible {
    visibility: initial;
    opacity: 1;
}

.about-us__1 {

    &__splitter--1 {

        @media only screen and (min-width: $tablet-medium) {
            display: flex;
            padding: 18px 63px 0 63px;
        }
    }

    &__header-text {

        @media only screen and (min-width: $tablet-medium) {
            margin-right: 79px;
        }

        &__header {
            color: $color-secondary;
            margin-bottom: 28px;

            @media only screen and (min-width: $tablet-medium) {
                margin-top: 40px;
            }
        }
    }

    &__about-text {

        &__text {
            margin-bottom: 40px;
        }
    }

    &__img {
        margin-bottom: 45px;

        @media only screen and (min-width: $tablet-medium) {
            max-width: 50%;
        }
    }
}

.about-us__2 {

    &__splitter {

        @media only screen and (min-width: $tablet-medium) {
            display: flex;
            margin-top: -3px;
        }
    }

    &__header-text {

        @media only screen and (min-width: $tablet-medium) {
            padding: 30px 38px 0 38px;
        }

        &__header {
            margin-bottom: 28px;
        }

        &__text {
            margin-bottom: 40px;
        }
    }

    &__img {

        @media only screen and (min-width: $tablet-medium) {
            max-width: 50%;
            height: max-content;
        }
    }
}

//Services Section
.services {
    background: $color-section-white;

    &__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 180px);

        @media only screen and (min-width: $laptop-medium) {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: minmax(254px, 375px);
        }
    }

    &__1 {
        background: url(/imgs/Services/concept-1.jpg);
        background-size: cover;
    }

    &__2 {
        background: url(/imgs/Services/building-1.jpg);
        background-size: cover;
    }

    &__3 {
        background: url(/imgs/Services/Design.jpg);
        background-size: cover; 
    }
}

//Selects all the parents of the subtitles and texts
.services > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

//Selects all the subtitles 
.services > div > div > h5 {
    color: $color-primary;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

//Selects all the texts
.services > div > div > h3 {
    color: $color-primary;
    font-size: 26px;
}

//Our Clients Section
.our-clients {
    background-color: $color-section-grey;
    padding: 60px 15px 70px 15px;
    text-align: center;

    @media only screen and (min-width: $tablet-medium) {
        padding: 100px 15px 100px 15px;
    }

    &__text {
        display: inline-block;
        font-size: clamp(24px, 4vw, 40px);
        color: $color-secondary;
        margin-bottom: 55px;
        max-width: 31ch;

        @media only screen and (min-width: $tablet-medium) {
            margin-bottom: 70px;
        }
    }

    &__clients {
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: repeat(1, 160px);
        gap: 60px 0;

        @media only screen and (min-width: $tablet-medium) {
            grid-template-columns: repeat(2, 160px);
            gap: 60px 160px;
        }

        @media only screen and (min-width: $laptop) {
            grid-template-columns: 160px 112px 160px 160px 160px;
            gap: 0 2.8vw;
        }

        @media only screen and (min-width: $desktop) {
            gap: 0 3.5vw;
        }
    }

    &__clients > a {
        opacity: .3;
        transition: opacity .3s;
    }

    &__clients > a:hover {
        opacity: 1;
    }
}

//All Services Section
.all-services {
    padding: 60px 0 100px 0;
    background: $color-section-white;

    &__title {
        color: $color-secondary;
        text-align: center;
    }

    &__services {
        display: grid;
        margin-top: 60px;

        @media only screen and (min-width: $laptop) {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }

        @media only screen and (min-width: $desktop) {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    &__services > a {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.185);
        padding: 90px 15%;
        transition: border .2s;
        color: initial;

        @media only screen and (min-width: $laptop) {
            padding: 52px 5%;
        }
    }

    &__services > a:hover {
        border: 1px solid $color-secondary;
    }

    &__services > a > div:nth-child(1) {
        margin-top: 10px;
        margin-right: 40px;
    }

    &__services > a > div > p {
        margin-top: 20px;
    }
}

//Projects Section
.projects {
    background-color: $color-section-grey;
    padding: 60px 15px;

    @media only screen and (min-width: $laptop) {
        display: flex;
        padding: 60px 5%;
    }

    &__about {
        margin-bottom: 50px;

        @media only screen and (min-width: $tablet-medium) {
            margin-bottom: 55px;
        }

        @media only screen and (min-width: $laptop) {
            margin-right: 113px;
            max-width: 57ch; //45ch;
        }

        &__title {
           margin-bottom: 20px;
           font-size: clamp(31px, 4.1vw, 46px);

           @media only screen and (min-width: $tablet-medium) {
            margin-bottom: 25px;
            font-weight: 600;
           }
        }
    }

    &__carousel {
        @media only screen and (min-width: $laptop) {
            min-width: 53%;
            max-width: 77%;
        }
    }
}

//Contact Us Section
.contact-us {
    background: url(/imgs/contact-us/red-background.jpg);
    background-size: cover;
    color: $color-primary;
    padding: 70px 0 30px 0;
    text-align: center;

    &__title {
        font-size: clamp(32px, 5.3vw, 46px);
        margin-bottom: 20px;
    }

    &__text {
        color: $color-primary;
        font-size: clamp(18px, 5vw, 20px);
        margin-bottom: 32px;
    }

    &__buttons {

        button:first-child {
            margin-right: 30px;
        }

        &__button a {
            padding: 12px 52px;
        }
    }
}

//Footer Section
.footer {
    background: $color-section-black;
    padding: 50px 30px 20px 30px;
    color: $color-primary;
    display: grid;
    grid-template-areas: 
    "logo logo"
    "about contact"
    "location links"
    "copyright copyright";

    @media only screen and (min-width: $laptop) {
        grid-template-columns: 3fr 1fr 3fr 1fr;
        grid-template-areas: 
        "logo logo logo logo"
        "about contact location links"
        "copyright copyright copyright copyright";
        gap: 0 50px;
    }


    &__logo {
        max-width: 160px;
        margin-bottom: 20px;
        grid-area: logo;

        @media only screen and (min-width: $laptop) {
            margin: 0 auto;
            margin-bottom: 40px;
        }
    }

    &__about {
        margin-bottom: 30px;
        grid-area: about;

        &__text {
            color: $color-primary;
            max-width: 450px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        grid-area: contact;
    }

    &__contact > ul > li > a {
        color: $color-primary;
        font-size: 15px;
        font-weight: 500;
    }

    &__contact > ul > li:not(:last-child) {
        padding-bottom: 5px;
    }

    &__location {
        margin-bottom: 30px;
        grid-area: location;

        &__text {
            color: $color-primary;
            margin-bottom: 20px;
            font-size: clamp(15px, 3vw, 22px);
        }

        &__map {
            height: 200px;
            max-width: 310px;
        }
    }

    &__links {
        margin-bottom: 30px;
        grid-area: links;
    }

    &__links > ul > li > a {
        color: $color-primary;
        font-size: 15px;
        font-weight: 500;
    }

    &__links > ul > li:not(:last-child) {
        margin-bottom: 7px;
    }

    &__copyright {
        color: $color-primary;
        font-size: clamp(16px, 2.5vw, 18px);
        grid-area: copyright;

        @media only screen and (min-width: $laptop) {
            text-align: center;
            margin-top: 10px;
        }
    }
}

.footer > div > h4 {
    font-size: clamp(20px, 3.5vw, 21px);
    margin-bottom: 10px;
}

.footer > div > p {
    font-size: clamp(16px, 2.5vw, 18px);
}