body {
    background: #f5f5f5;

    @media only screen and (min-width: $laptop) {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: clamp(50px, 9vw, 127px);
        margin-left: clamp(24px, 3.5vw, 48px);
        background: $color-background-desktop;
    }
}

//Hero Section
.hero {
    position: relative;
}

//About Us Section
.about-us {
    padding: 60px 15px 100px 15px;
    background-color: $color-section-white;
}

.about-us__1 {

    &__header-text {

        &__header {
            color: $color-secondary;
            margin-bottom: 28px;
        }
    }

    &__about-text {

        &__text {
            color: $color-text;
            margin-bottom: 40px;
        }
    }

    &__img {
        margin-bottom: 45px;
    }
}

.about-us__2 {

    &__header-text {

        &__header {
            margin-bottom: 28px;
        }

        &__text {
            color: $color-text;
            margin-bottom: 40px;
        }
    }
}

//Services Section
.services {
    background: $color-section-white;
    margin-bottom: 100px;

    &__1 {
        background: url(/imgs/Services/concept-1.jpg);
        background-size: cover;
    }

    &__2 {
        background: url(/imgs/Services/building-1.jpg);
        background-size: cover;
    }

    &__3 {
        background: url(/imgs/Services/Design.jpg);
        background-size: cover; 
    }
}

//Selects all the parents of the subtitles and texts
.services > div > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 180px;
    padding: 0 30px;
}

//Selects all the subtitles 
.services > div > div > h5 {
    color: $color-primary;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}

//Selects all the texts
.services > div > div > h3 {
    color: $color-primary;
}

//Our Clients Section
.our-clients {
    padding: 0 15px 100px 15px;
    text-align: center;

    &__text {
        font-size: clamp(24px, 4.5vw, 70px);
        color: $color-secondary;
        margin-bottom: 55px;
    }

    &__clients {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__clients > a {
        max-width: 164px;
        opacity: .3;
        transition: opacity .3s;
    }

    &__clients > a:hover {
        opacity: 1;
    }

    &__clients > a:not(:last-child) {
        padding-bottom: 60px;
    }
}

//All Services Section
.all-services {
    padding: 60px 0 100px 0;
    background: $color-section-white;

    &__title {
        color: $color-secondary;
        text-align: center;
    }

    &__services {
        display: flex;
        flex-direction: column;
        margin-top: 60px;
    }

    &__services > a {
        display: flex;
        border: 1px solid rgba(0, 0, 0, 0.185);
        padding: 90px 15%;
        transition: border .2s;
        color: initial;
    }

    &__services > a:hover {
        border: 1px solid $color-secondary;
    }

    &__services > a > div:nth-child(1) {
        margin-top: 10px;
        margin-right: 40px;
    }

    &__services > a > div > h4 {
        font-size: clamp(26px, 3.5vw, 60px);
    }

    &__services > a > div > p {
        margin-top: 20px;
        color: $color-text;
    }
}

.contact-us {
    background: $color-section-red;
    color: $color-primary;
    padding: 70px 0 30px 0;
    text-align: center;

    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 32px;
    }

    &__buttons {

        button:first-child {
            margin-right: 30px;
        }

        &__button a {
            padding: 12px 52px;
        }
    }
}

//Footer Section
.footer {
    background: $color-section-black;
    padding: 60px 30px 25px 30px;
    color: $color-primary;


    &__about {
        margin-bottom: 30px;

        &__logo img {
            max-width: 160px;
            margin-bottom: 10px;
        }
    }

    &__contact {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        &__title {
            margin-bottom: 10px;
        }
    }

    &__contact > a {
        color: $color-primary;
        font-size: 15px;
        font-weight: 500;
    }

    &__contact > a:not(:last-child) {
        padding-bottom: 5px;
    }

    &__location {
        margin-bottom: 30px;

        &__title {
            margin-bottom: 10px;
        }

        &__text {
            margin-bottom: 20px;
            font-size: clamp(15px, 3vw, 22px);
        }

        &__map {
            height: 200px;
        }
    }

    &__links {
        margin-bottom: 30px;

        &__title {
            margin-bottom: 10px;
        }
    }

    &__links > ul > li > a {
        color: $color-primary;
        font-size: 15px;
        font-weight: 500;
    }

    &__links > ul > li:not(:last-child) {
        margin-bottom: 7px;
    }
}