//Media Queries//
$tablet: 720px;
$tablet-medium: 770px;
$laptop: 1000px;
$laptop-medium: 1026px;
$desktop: 1200px;

//Z-index//
$z-index-max: 99999;

//Font Variables//
$font-work-sans: ('Work Sans', serif);
//Color Variables//
$color-transparent: transparent;
$color-primary: #fff;
$color-secondary: #101010;
$color-text: #525252;

//Background Color//
$color-background-mobile: #fff;
$color-background-desktop: #101010;

//Button Colors//
$color-black-btn: #101010;
$color-white-btn: #fff;
$color-btn-hover-red: #e82e31;
$color-btn-hover-black: #101010;

//Navigation Colors//
$color-nav-border: rgba(255, 255, 255, 0.1);
$color-nav-shadow: rgba(0, 0, 0, 0.08);
$color-nav-background: #101010;
$color-nav-hamburger: #101010;
$color-nav-link: #fff;
$color-nav-link-hover: #fff;
$color-mobileNav-background: #fff;
$color-mobileNav-links: #101010;
$color-mobileNav-button: #101010;

//Section Colors//
$color-section-white: #fff;
$color-section-black: #0f0f0f;
$color-section-grey: #f5f5f5;
$color-section-red: #e82e31;
$color-subtitle: #e82e31;

//Footer Colors//
$color-footer-gray-text: #929292;
$color-footer-links: #929292;
$color-footer-line: #3b3632;
$color-footer-socials-border: #3b3632;
$color-footer-social-links-bg-hover: #d72323;
$color-footer-copyright-text: #929292;
$color-footer-copyright-link: #f1ede1;