//Z-index//
$z-index-max: 999;

//Font Variables//
$font-montserrat: "Montserrat", serif;
$font-poppins: "Poppins", sans-serif;
$font-rajdhani: "Rajdhani", sans-serif;
$font-timesNewRoman: "Times New Roman", Times, serif;
//Color Variables//
$color-transparent: transparent;
$color-primary: #f1ede1;
$color-secondary: #16120f;

//Navigation Colors//
$color-nav-border: rgba(255, 255, 255, 0.1);
$color-nav-shadow: rgba(0, 0, 0, 0.08);
$color-nav-background: #030303;
$color-nav-hamburger: #000;
$color-nav-link: #000;
$color-mobileNav-background: #000;
$color-mobileNav-links: #fff;
$color-mobileNav-button: #000;

//Section Colors//
$color-section-white: #f0f0f0;
$color-section-black: #0f0f0f;
$color-subtitle: #d62326;

//Footer Colors//
$color-footer-gray-text: #929292;
$color-footer-links: #929292;
$color-footer-line: #3b3632;
$color-footer-socials-border: #3b3632;
$color-footer-social-links-bg-hover: #d72323;
$color-footer-copyright-text: #929292;
$color-footer-copyright-link: #f1ede1;