.glide__track {
    position: relative;
}


.glide__slides {
    position: absolute;
    top: 0;
    left: 0;
}


.glide__slide img {
    width: 100%;
    height: 90vh;
}

.glide__arrow {
    font-size: 12px;
    border: none;
    box-shadow: none;
    background: none;
    text-transform: uppercase;
    font-family: $font-swansea;
    font-weight: 700;
    opacity: .8;
}

.glide__arrow:hover {
    opacity: 1;
}

.glide__arrow:first-child {
    margin-right: 30px;
}


.glide__arrow__seperator {
    width: 2px;
    height: 8px;
    background: #000;
}
