html {
    scrollbar-width: thin;
    scrollbar-color: #000 #000;
}

html::-webkit-scrollbar {
    width: 0; 
}

html::-webkit-scrollbar-track {
    background-color: #fff;
}

html::-webkit-scrollbar-thumb {
    background: #e82e31;
}