.phone {
    width: 18px;
    fill: #fff;
    margin-left: -12px;
    margin-right: 4px;
    margin-bottom: -4px;
    transform: rotate(13deg);
}

.email {
    width: 19px;
    fill: #fff;
    margin-left: -12px;
    margin-right: 5px;
    margin-bottom: -4px;
}
.location {
    width: 20px;
    fill: #fff;
    margin-left: -12px;
    margin-right: 5px;
}

.construction {
    width: 57px;
}

.broom {
    width: 71px;
    margin-right: -15px;
}

.interior {
    width: 53px;
}

