 //Nav Mobile Items Animations 
  @keyframes fadeIn {
  0% {
      opacity: 0;
      transform: translateY(-40px);
  }
  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

//Hero Slider Animations Start
@keyframes animateInLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes animateInRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
//Hero Slider Animations End

//Services Text Animations Start
@keyframes fadeInLeftServices {
  0% {
    opacity: 0;
    transform: translateX(-45%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}
//Services Text Animations End
