html {
    box-sizing: border-box;
    //Default Font-size
    font-size: 100%;   // 1rem = 16px
    scroll-behavior: smooth;  // for smooth jump-to scroll
}

*,
*::before,
*:after {
     //General Styling
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}