body {
    font-family: $font-work-sans;
}

h1, h2, h3, h4, h5 {
    font-family: $font-work-sans;
    font-weight: 700;
}

h1 {
    font-size: clamp(36px, 9vw, 80px);
    line-height: 1.085;
}

h2 {
    font-size: clamp(31px, 5vw, 40px);
    line-height: 1.3;
}

h3 {
    font-size: clamp(21px, 5vw, 30px);
    line-height: 1.3;
}

h4 {
    font-size: clamp(20px, 3.5vw, 24px);
    font-weight: 600;
}

p {
    color: $color-text;
    font-family: $font-work-sans;
    font-weight: 400;
    font-size: clamp(16px, 2.5vw, 19px);  //20px
    line-height: clamp(22px, 3.5vw, 29px);
}

b {
    color: $color-secondary;
}

b.white {
    color: $color-primary;
}

//Work Sans Font
@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}