body {
    font-family: $font-work-sans;
    font-weight: 700;
}

h1, h2, h3, h4, h5 {
    font-family: $font-work-sans;
    font-weight: 700;
}

h1 {
    font-size: clamp(34px, 9vw, 80px);
    line-height: 1.085;
}

p {
    font-family: $font-work-sans;
    font-weight: 400;
    font-size: clamp(16px, 3vw, 22px);
    line-height: clamp(22px, 3.5vw, 30px);
}

//Work Sans Font
@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('/font/WorkSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}